h1 {
    font-size: 2em;
    margin-bottom: 0.5em;
}

img {
    width: 70%;
    height: 70%;
    margin-bottom: 1em;
}

button {
    margin: 1em 0;
}

.blog-post {
    width: 40%;
    margin-bottom: 20px;
}